.markdown-editor {
	height: 100vh;
	width: 100vw;
}

.headbar {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.left-col {
	display: flex;
	align-items: center;
}

.buttons {
	height: 30px;
	width: 30px;
    background-color: white;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttons:hover{
    background-color: lightgray;
}

.editor-body {
	height: calc(100% - 70px);
	display: flex;
}

.tailbar {
	height: 30px;
	align-items: safe;
}

.count-container {
	padding: 0px 0px 0px 0px;
}

.text-input {
	resize: none;
	height: 100%;
	width: 100%;
	/* padding: 20px 30px; */
	font-size: 16px;
}

.count-container {
	display: flex;
	align-items: center;
	height: 30px;
}

.editor-body .editor,
.editor-body .previewer {
	width: 50%;
}
